<mat-toolbar color="primary" role="toolbar" aria-labelledby class="color_nav" style="position: sticky; top:0;z-index: 1000;">
    <span>Auditoria</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-raised-button color="primary" class="boton-nav" [routerLink]="['seccion1']" routerLinkActive="active">Seccion 1</button>
    <button mat-raised-button color="primary" class="boton-nav" [routerLink]="['seccion2']" routerLinkActive="active">Seccion 2</button>
    <button mat-raised-button color="primary" class="boton-nav" [routerLink]="['seccion3']" routerLinkActive="active">Seccion 3</button>
    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle color="accent">Bold</mat-button-toggle>
        <mat-button-toggle color="accent">Italic</mat-button-toggle>
        <mat-button-toggle color="accent">Underline</mat-button-toggle>        
    </mat-button-toggle-group> -->
</mat-toolbar>